---
title: MERGE | While True
description: ギターミュージックのニュージェネレーション「While True:」による待望のセカンドアルバム「MERGE」の特設サイトです。
---
#loading_container
  %p#loading Loading
  %em#catch_phrase 綯い交じり、まだ見ぬ境地へ
%header
  %nav
    %ul
      %li
        = link_to "https://twitter.com/share?text=MERGE - While True:&url=https://whiletrue-jpn.com/", target: "_blank" do
          %i.fab.fa-twitter-square
      %li
        = link_to "http://www.facebook.com/sharer.php?u=https://whiletrue-jpn.com/", target: "_blank" do
          %i.fab.fa-facebook-square
      %li
        = link_to "http://line.me/R/msg/text/?https://whiletrue-jpn.com/", target: "_blank" do
          %i.fab.fa-line
.head_container
  = image_tag 'jacket_text.png', alt: "アルバムジャケット"
  %h1
    While True: Second Album
    %strong MERGE
    %span
      テーマは共作<br>
      ギターミュージックのニュージェネレーション"While True:"による<br>
      待望のセカンドアルバム
%iframe{width: "100%", height: "166", scrolling: "no", frameborder: "no", allow: "autoplay", src: "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/608699043&color=%2336363e&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"}
%section.album_container
  %h2 Track List
  .album_elements
    %ul
      %li
        .number
          01
        .title
          Tongue Twister
        .artist
          Sho-P & Hikaman
      %li
        .number
          02
        .title
          Eze
        .artist
          Kurenai & Raku
      %li
        .number
          03
        .title
          Sidekick
        .artist
          Raku & Kenshiro
      %li
        .number
          04
        .title
          fall into oblivion
        .artist
          Hiro & Hikaman
      %li
        .number
          05
        .title
          Violet Lily
        .artist
          Kenshiro & Takuma Genda
%section.infomation_container
  %h2 Information
  .infomation_items
    .contents
      Date
      .event_content
        2019年4月28日(日曜日)
    .contents
      Event
      .event_content
        M3-43th
    .contents
      Release
      .event_content
        第二展示場2F コ-20b
    .contents
      Price
      .event_content
        %p ¥1000(Event)
        %p ¥1500(Digital)
    .contents
      = link_to 'ジャケットダウンロード', '/images/jacket_text.png', target: '_blank'
%section.credit_container
  %h2 Credit
  %ul
    %li
      Produced by
      = link_to "While True:", "https://twitter.com/WhileTrue_JPN", target: "_blank"
    %li
      Director & Mastering Engineer
      = link_to "Kenshiro", "https://twitter.com/kenshiro_guitar", target: "_blank"
    %li
      Art Work
      = link_to "Nakanome Michiru", "https://twitter.com/nkkor2", target: "_blank"
    %li
      Web Design
      = link_to "Kurenai", "https://twitter.com/kurenai1496", target: "_blank"
    %li
      Keyboards
      = link_to "会長", "javascript:void(0)"
      %span (Tr.1 "Tongue Twister")
%footer
  %em 綯い交じり、まだ見ぬ境地へ
  %span While True:
  Copyright 2019 © whiletrue-jpn.com All Rights Reserved.
